*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: none;
}
body {
  cursor: none;
}
#background-container {
  background-color: #0e212e;
  cursor: none;
}
#image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  pointer-events: none;
  box-sizing: border-box;
  object-fit: cover;
  height: 250px;
/*   transition: 0.2s; */
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipdrop {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  top:-100px;
  left:-100px;
  padding: 5px 0;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
.tooltip:hover .tooltipdrop {
  visibility: visible;
}


#Pegasus{
  background-color:transparent;
  width:300px;
}
